#navlist{
    border: solid black;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
#onediv{
    display: flex;
    border: solid black;
    height: 300px;
    background-color: bisque;
    display: flex;
    /* we use justify-content to align horizontally */
    justify-content: center;
    /* we use align-items to align the vertically */
    align-items: center;
}
#childdiv{
    background-color: aqua;
    height: 150px;
    width: 150px;
    right: 50%;
    text-align: center;
    display: flex;
    /* same applies on a content inside a container for some text written under it */
    justify-content: center;
    align-items: center;
    /* align self has high priority over align-items */
    align-self:self-start
}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    background-color: rgb(177, 89, 89);
}