#navigationbar{
    background-color: black;
}
#logo{
    color: orange;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#account{
    color:white;
    margin-top: 10%;
    margin-bottom: 10%;
   
}
#mycart{
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
   
}
#contact{
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
#searchbar{
    margin-top: 1%;
    margin-bottom: 1%;
   
    border: solid;
}
#search{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: orange;
    color: black;
    border: solid;
}
a{
    margin-right: 195px;
    text-decoration: none;
}
